<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%green(%t)  %boldRed(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) %cyan([%X{req.remoteAddr}])-%cyan([%X{req.user}%X{req.requestURI}]) %boldMagenta(%logger{0}) -- %boldYellow(%msg %n)</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>./logs/webapi.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>./logs/webapi.%d{yyyy-MM-dd}.log</FileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%green(%t)  %boldRed(%d{HH:mm:ss.SSS}) %highlight(%-5level) %cyan([%X{req.remoteAddr}])-%cyan([%X{req.user}%X{req.requestURI}]) %boldMagenta(%logger{0}) -- %boldYellow(%msg %n)</Pattern>
		</encoder>
	</appender>
     
	<!-- Enable FILE and STDOUT appenders for all log messages. By default, 
		only log at level INFO and above. -->
	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

	<!--111 <logger name="org.springframework.boot" level="DEBUG" /> 111-->
	<logger name="springfox.documentation" level="WARN" />
	<logger name="com.ahwechat.webapi" level="DEBUG" />
	<logger name="com.easylotto.core" level="DEBUG" />
	 
</configuration>
